<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
        <title>Tadeáš Hort</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <h1>Zdar ty konino</h1>
        <ul>
            {{ range (where .Pages "Section" "blog") }}
                <li>
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </body>
</html>
