$bgcolor: #F2F0F0
$textcolor: #000
$compcolor: #fff

body
    font-family: 'Roboto', sans-serif
    background-color: $bgcolor
    padding: 0
    margin: 0
    --base-size: 16px
    @media(max-width: 480px)
        --base-size: 14px
@import "container"
@import "nav"
@import "header"

